@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans&family=PT+Serif:ital,wght@1,400;1,700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(17, 154, 189)
}

.container {
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.box {
    border-radius: 5px;
    border: 1px solid rgb(167, 162, 162);
}

.controls, .controls li, .icons, .icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls .icons i {
    width: 40px;
    color: rgb(167, 162, 162);
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

.controls .icons {
    width: 35%;
}

ul {
    list-style: none;
    padding: 12px 15px;
}

.text-controls textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    resize: none;
}

.text-controls .to-text {
    border-left: 1px solid rgb(167, 162, 162);
    border-radius: 0;
}

.box .text-controls {
    display: flex;
    border-top: 1px solid rgb(167, 162, 162);
}

button {
    background-color: rgb(107, 106, 106);
    border: none;
    color: white;
    padding: 10px 20px;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    transition-duration: .4s;
    cursor: pointer;
    border: 2px solid rgb(102, 101, 100);
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(102, 101, 100);
}